---
alerts:
  - rule: DEPLOYMENT_FAILED
  - rule: DOMAIN_FAILED
domains:
  - domain: staging.lsbupeerevaluation.software
    type: PRIMARY
    zone: lsbupeerevaluation.software
envs:
  - key: ENVIRONMENT
    scope: RUN_AND_BUILD_TIME
    value: production
  - key: NEXT_PUBLIC_LOGICAL_ENVIRONMENT
    scope: RUN_AND_BUILD_TIME
    value: staging
  - key: NEXTAUTH_SECRET
    scope: RUN_AND_BUILD_TIME
    type: SECRET
    value: EV[1:E1ZjuzoXYqOm0iteXRQPVYIhuDBuCvy5:3eszGpyTNlyNqSlkBlZwVZM9HlA/Nz2lCa+R0UxCoQNAcQuzZpSAGrESU9wWBnqcmuUPGIRDYSrj3ldU]
  - key: NEXTAUTH_URL
    scope: RUN_AND_BUILD_TIME
    value: https://staging.lsbupeerevaluation.software
  - key: SMTP_HOST
    scope: RUN_AND_BUILD_TIME
    value: smtp.gmail.com
  - key: SMTP_PORT
    scope: RUN_AND_BUILD_TIME
    value: "465"
  - key: SMTP_USER
    scope: RUN_AND_BUILD_TIME
    value: admin@lsbupeerevaluation.software
  - key: SMTP_PASSWORD
    scope: RUN_AND_BUILD_TIME
    type: SECRET
    value: EV[1:YXg7ZyBqOHAMt/sqLrYj8tWcN7MvQBEC:bVPPuFjgvFprf6X9SLI8WP6UteOEgQyLmq9gdAQ7fDk=]
  - key: SMTP_FROM
    scope: RUN_AND_BUILD_TIME
    value: admin@lsbupeerevaluation.software
  - key: SMTP_SECURE
    scope: RUN_AND_BUILD_TIME
    value: "true"
  - key: DATABASE_URL
    scope: RUN_AND_BUILD_TIME
    type: SECRET
    value: EV[1:fIukmoOcM7Bsl6hfw1LzzT8G3CnOeI6N:rDgIFMFBRiHYnMEVlpSUsxdAQ415QM78aWIkfJDg3+a2iidVefpEeRxBX6V4PFkdtJ73FSBwS0v2yHh5nFPvtZyG5gNU6J1ha6RUcyHFrygNGXkYwOCId771gIkNn4OzstvIyK28wT1XKU3G1yKJVzwPUYxCmZxqWMp8ON1w0bLuAfRPYu6kMFq9Bj+7OVJwceU5r7Rk13mnuwWZgChVvGBZWR2zu43hQNMv4TI1cEEbFv222BIliXodE35Bh3K/EQpqKfu4AiWrJiJeYAqxHzw/ChE=]
  - key: SENTRY_DSN
    scope: RUN_AND_BUILD_TIME
    type: SECRET
    value: EV[1:hLf88TE9iUtKkJzJyTqp4sdgJP05ca/g:2Ax2JccmdEgC1imSI3lU+WmWKZSKu1sv5wKVPDT0TlrkE24NC5q/eOJogB6A4kJfOsy/ZWkKMSGErMUeO0+V4VxN6M8JZd7xO1BuAk7kT7Y8P+9aLuqrLB2h]
  - key: NEXT_PUBLIC_SENTRY_DSN
    scope: RUN_AND_BUILD_TIME
    type: SECRET
    value: EV[1:uSeeBn+uMvK7P+AxHaigHPQqncDfT7E3:Fj9wQfStf+xF21pUbPAAE8h4naejRot5HVMHsCI2Jyj7uLGDNOGX82N6Y9RL5rmSdPhl6lZCLlXFX0wKgdKthoM88dLQyh4ufXNLDvlSfkZbjOgsZpCrSrv0]
  - key: SENTRY_AUTH_TOKEN
    scope: RUN_AND_BUILD_TIME
    type: SECRET
    value: EV[1:tR988vldmCG4tDMzIsiaZakeUDwMuae0:qObUmQ3nLH+l8GacfIOLfJuxeWrY2qzFZSjTb0pNNGslzzTb99ZQ/jcR+a26RQuOsfm4Uo53IKkZytVwBsM5gn0oq+gSzADABPGMFkKBOuM=]
  - key: SENTRY_SECURITY_HEADER_ENDPOINT
    scope: RUN_AND_BUILD_TIME
    type: SECRET
    value: EV[1:7LPcUn0wbfzZcmwSshMGHsHlrWH7iZ6i:X2FhvIAqprGpDKUjPlKBO8/sr+M+wRPvTm5QdLSgbukJ1deJpXhUNzfNj13JpxM98aKgcO9M5UBHSOfMK4/MOTIBa7Nr+Z1qln0oRuCDkhqnTa4bk2oAP5jhp2Ui+ViPjiW0YocQTZ4vrmRGQ1NhPkeOJ3SXjWi0bPO5bm5tdqorDCbA]
name: peer-evaluation-web-app-staging
region: lon
services:
  - alerts:
      - operator: GREATER_THAN
        rule: CPU_UTILIZATION
        value: 80
        window: FIVE_MINUTES
      - operator: GREATER_THAN
        rule: MEM_UTILIZATION
        value: 80
        window: FIVE_MINUTES
    dockerfile_path: Dockerfile
    github:
      branch: staging
      repo: quizslides/peer-evaluation-lsbu
    health_check:
      failure_threshold: 3
      http_path: /api/graphql?query=%7B__typename%7D
      initial_delay_seconds: 30
      period_seconds: 60
      timeout_seconds: 100
    http_port: 3000
    instance_count: 1
    instance_size_slug: basic-xxs
    name: peer-evaluation-web-app-staging
    routes:
      - path: /
    source_dir: /
