
{% layout "base" %}
{% block content %}

<h1>Welcome {{name}}!</h1>
                      
<p>Your account has been created on the LSBU Peer Evaluation platform.</p>

<p>To log in, go to <a href="{{baseUrl}}">{{baseUrl}}</a></p>

{% endblock %}
