---
name: Development
on:
  push:
    branches:
      - "PEL-**"

jobs:
  install-dependencies:
    uses: ./.github/workflows/install-dependencies.yml

  tests:
    needs: install-dependencies
    uses: ./.github/workflows/tests.yml
    secrets:
      CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
