---
name: Deployment
on:
  push:
    branches:
      - main
      - staging

jobs:
  install-dependencies:
    uses: ./.github/workflows/install-dependencies.yml

  tests:
    needs: install-dependencies
    uses: ./.github/workflows/tests.yml
    secrets:
      CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}

  semantic-release:
    needs: digital-ocean-deployment
    uses: ./.github/workflows/semantic-release.yml
    secrets:
      PROJECT_GITHUB_TOKEN: ${{ secrets.PROJECT_GITHUB_TOKEN }}
