---
name: Semantic Release
on:
  workflow_call:
    secrets:
      PROJECT_GITHUB_TOKEN:
        description: "Access token for GitHub"
        required: true

jobs:
  release_configuration:
    runs-on: ubuntu-latest
    outputs:
      branch: ${{ steps.release_configuration.outputs.branch }}
      release_options: ${{ steps.release_configuration.outputs.release_options }}
    steps:
      - id: release_configuration
        name: Release options
        run: |
          release_options="--git.tagExclude='*[-]*'"

          branch=${GITHUB_REF##*/}

          if [ -n "$branch" ] && [ "$branch" = "staging" ]; then
            release_options="--preRelease=beta"
          fi

          echo "branch=$branch" >> "$GITHUB_OUTPUT"
          echo "release_options=$release_options" >> "$GITHUB_OUTPUT"

  semantic-release:
    name: Semantic Release Workflow
    runs-on: ubuntu-latest
    needs: release_configuration
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ needs.release_configuration.outputs.branch }}

      - name: Running release automation
        uses: juancarlosjr97/release-it-containerized@0.7.82
        with:
          command: ${{ needs.release_configuration.outputs.release_options }}
          github_token: ${{ secrets.PROJECT_GITHUB_TOKEN }}
          plugins_list: "@release-it/conventional-changelog@latest"
